<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="generic-ws">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="bo-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/bo/bo">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="dto-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/dto/dto">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="services-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/services/services">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/generic-ws/target/classes"/>
        <property name="context-root" value="generic-ws"/>
    </wb-module>
</project-modules>
