<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:custom="http://java.sun.com/jsf/composite/custom"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:icecore="http://www.icefaces.org/icefaces/core" lang="en">

<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Error </title>
</h:head>
<div id="page">
	<div id="wrapper" class="container">
		<h:body>
			<h:form id="requestForm" prependId="true">
				<h:outputLabel value="Ha ocurrido un error durante la sessi&#243;n" style="color:red;" />
				<br/>
				<a href="http://localhost/front-end-view/">Regresar</a>
			</h:form>
		</h:body>
	</div>
</div>
</html>