<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:custom="http://java.sun.com/jsf/composite/custom" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:icecore="http://www.icefaces.org/icefaces/core" lang="en">

<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>TPR</title>

	<!-- JQUERY -->
	<h:outputScript name="jquery-1.11.3.min.js" library="js" />
	<!-- BOOTSTRAP -->
	<h:outputScript name="bootstrap.js" library="js" />

	<!-- GOOGLE MAPS  -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

	<!-- FUNCIONES PERSONALIZADAS  -->
	<h:outputScript name="functions.js" library="js" />
	<!-- GESTOR DE VENTANAS JS -->
	<h:outputScript name="windows.js" library="js" />

	<!-- APPLICATION CSS -->
	<h:outputStylesheet name="general.css" library="css" />
	<h:outputStylesheet name="pe-icon-7-filled.css" library="css" />
	<h:outputStylesheet name="pe-icon-7-stroke.css" library="css" />
	<h:outputStylesheet name="bootstrap.min.css" library="css" />


	<!-- 	<f:metadata> -->
	<!-- 	    <f:viewParam name="data" value="#{solicitudCreditoBean.data}"/> -->
	<!-- 	    <f:event listener="#{solicitudCreditoBean.catchRequestParameter}" type="preRenderView"/> -->
	<!-- 	</f:metadata> -->

</h:head>
<div id="page">
	<div id="heading" class="heading">
		<div style="text-align: center; aling: center; background-color: #03a9f4;">
			<h:outputLabel value="Login TPR" style="margin-top: 18px; padding-bottom: 10px; font-size: 22px; font-weight: bold;" styleClass="headingText" />
		</div>
	</div>
	<div id="wrapper" class="container">
		<h:body>
			<div id="div-step-1" class="stepContainer form-group form-group-sm">
				<h:panelGroup id="step-container">
					<h:form id="requestFormStep1" prependId="true">
						<div class="row" id="pwd-container">
							<div class="col-md-4"></div>

							<div class="col-md-4">
								<section class="login-form">
									<h:panelGrid columns="2">
										<h:outputLabel value="User" />
										<h:panelGroup styleClass="form-group">
											<h:inputText id="user" value="#{loginBean.username}" required="true" styleClass="form-control input-lg" />
											<h:message for="user" style="color:red;" />
										</h:panelGroup>

										<h:outputLabel value="Password" />
										<h:panelGroup styleClass="form-group">
											<h:inputSecret id="password" value="#{loginBean.password}" required="true" styleClass="form-control input-lg" />
											<h:message for="password" style="color:red;" />
											<div class="pwstrength_viewport_progress"></div>
										</h:panelGroup>
									</h:panelGrid>
									<!-- 									<button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Login</button> -->
									<h:commandButton action="#{loginBean.doLogin}" value="Login" styleClass="btn btn-info btn-block" />
								</section>
							</div>

							<div class="col-md-4"></div>
						</div>
					</h:form>
				</h:panelGroup>
			</div>
		</h:body>
	</div>
</div>
</html>