* {
	font-family: 'Source Sans Pro', sans-serif !important;
	margin: 0px;
	color : rgba(0,0,0,0.5);
}

body {
	background-color: #fff;
}

html {
	background-color: #fff;
}

.heading {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 35px;
	background-color: #03a9f4;
	font-size: 22px;
	color: white;
	padding-top: 7px;
}

#stepActionContainer {
	position: absolute;
	display: block;
	width: 75%;
	height: 66px;
}

.stepContainer {
	padding-top: 35px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin: 0 auto;
	display: table;
}

.stepContent {
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	border: 2px solid #efefef;
	padding-bottom: 15px;
}

#page {
	background-color: #fafafa;
}

#heading {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 2000;
	height: 71px;
	background-color: #03a9f4;
}

#wrapperHeader {
	/*-webkit-box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.75);*/
	margin-bottom: 25px;
	margin-top: 45px;
	padding-top: 45px;
	background-color: #fff;
}

#wrapper {
	-webkit-box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.2);
	margin-bottom: 25px;
	margin-top: 45px;
	padding-top: 25px;
	background-color: #fff;
}

.nextStep {
	margin-bottom: 20px;
	margin-left: 700px;
	display: inline-block;
}

.previousStep {
	float: left;
	margin-bottom: 20px;
	margin-left: 100px;
}

.headingText {
	color: white;
}

.graph li {
	list-style: none;
}

.graph {
	text-align: center;
	max-width: 720px; /* (200+(20x2))x3 */
	font-size: 0; /* fix for white space bug */
	margin-left: auto;
	margin-right: auto;
}

.legent-right {
	display: inline-block;
	margin: 20px;
	font-size: 16px;
}

.cd-timeline-block {
	padding-bottom: 30px;
}

.cd-date {
	margin-left: 22px;
}

.grid-text {
	vertical-align: middle;
}

#map-croquis {
	height: 100%;
	margin: 0px;
	padding: 0px
}

#timeline-container {
	z-index: 1000;
	top: 0px;
}

#div-step-1 {
	z-index: 10;
}

#step-header {
	width: 80%;
	background-color: #fff;
	margin: 0px 8.7%;
}

#div-step-2 {
	position: fixed;
	z-index: 200;
}

.fit-table{
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}