.order-table {
	border-collapse: collapse;
}

.order-table-header {
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
}

.order-table-odd-row {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
	border-top: 1px solid #BBBBBB;
}

.order-table-even-row {
	text-align: center;
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: 1px solid #BBBBBB;
}

.ui-datatable .ui-header-column,.ui-datatable .ui-footer-column {
	background-color: rgba(0, 0, 0, 0.0);
}

.ui-datatable {
	width: 99%;
}

.ui-datatable .ui-header-text {
	color: white;
	font-size: small;
}

.ui-widget-header {
	background: rgba(0, 0, 0, .0) !important;
}

#header {
	background: #018ad5;
	border-bottom: solid;
	border-bottom-color: gray;
}

.ui-corner-all {
	border: none !important;
	-webkit-border-radius: 0px !important;/*{cornerRadiu};*/
	-moz-border-radius: 0px !important;/*{cornerRadius}*/
	 border-radius: 0px !important/*{cornerRadius}*/;
}

.campos {
	font-size: 13px;
	margin-left: 100px;
	margin-right: 50px;
	text-align: right;
}

.titulo {
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	width: 100px;
}

#contenedor {
	width: 100%;
	display: inline;
	height: 100px;
	margin: auto;
}

#lateral {
	width: 85%; /*Este será el ancho que tendrá tu columna*/
	height: auto;
	background-color: #ded9d9;
	/*Aquí pon el color del fondo que quieras para este lateral*/
	float: left; /*Aqui determinas de lado quieres quede esta "columna" */
}

#lateralgen {
	width: 100%; /*Este será el ancho que tendrá tu columna*/
	background-color: #ded9d9;
	/*Aquí pon el color del fondo que quieras para este lateral*/
}

#lateralgraf {
	
}

.ui-datatable tbody.ui-datatable-data>tr>td,.ui-datatable tbody.ui-datatable-data-empty>tr>td
	{
	font-size: xx-small;
}

.ui-widget-header {
	color: white;
}

#principal {
	width: 15%;
	margin-left: 86%;
	height: 100px;
	/*background-color: #FFFFFF;*/
}

.resp {
	float: left;
	margin: 5px;
	padding: 5px;
	width: 300px;
	height: 300px;
	border: 1px solid black;
}

.ui-accordion .ui-accordion-header a {
	font-size: small;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	/*background-color: #018ad5;*/
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default
	{
	border: 1px solid rgba(0,0,0,0.2) !important; /*{borderColorDefault}*/;
	background-clip: padding-box;
	font-weight: normal /*{fwDefault}*/;
	color: #000000 /*{fcDefault}*/;
	background-color: #ded9d9;
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default
	{
	background: #ded9d9;
}

.ui-panel-title{
	color: white;
}

.ui-panel-content .ui-widget-content .widget__content .table-responsive {
	border-color: rgba(255, 255, 255, 0.0) !important;
	background-color: rgba(0, 0, 0, 0.1) !important;
	background: rgba(0,0,0,0.1) !important;
}

.ui-widget-content {
  border: 1px solid rgba(0,0,0,0)/*{borderColorContent}*/;
  background: rgba(0,0,0,0.0);
  color: #222222/*{fcContent}*/;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid rgba(0,0,0,0.2) !important;
  font-family: 'Source Sans Pro', sans-serif;
}

.ui-accordion .ui-accordion-content-active{
	padding: 0px;
}

